.main-container {
  min-height: 100vh;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-size: cover;
}

.main {
  display: grid;
  gap: 0rem 2rem;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding-bottom: 4rem;
}


[data-aos] {
  transition-property: transform, opacity;
}

[data-aos="fade-up"] {
  transform: translateY(50px);
  opacity: 0;
}

[data-aos="fade-down"] {
  transform: translateY(-50px);
  opacity: 0;
}

[data-aos="fade-right"] {
  transform: translateX(-50px);
  opacity: 0;
}

[data-aos="fade-left"] {
  transform: translateX(50px);
  opacity: 0;
}

[data-aos="zoom-in"] {
  transform: scale(0.8);
  opacity: 0;
}

[data-aos="flip-up"] {
  transform: perspective(1000px) rotateX(-90deg);
  opacity: 0;
  transform-origin: top;
}

[data-aos="flip-down"] {
  transform: perspective(1000px) rotateX(90deg);
  opacity: 0;
  transform-origin: bottom;
}

[data-aos-delay="50"] {
  transition-delay: 50ms;
}


[data-aos-delay="100"] {
  transition-delay: 100ms;
}

[data-aos-delay="200"] {
  transition-delay: 200ms;
}

[data-aos-delay="300"] {
  transition-delay: 300ms;
}

[data-aos-delay="400"] {
  transition-delay: 400ms;
}

[data-aos-delay="500"] {
  transition-delay: 500ms;
}
